#bg {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/sample6.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

#bg .container {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../img/sample6.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

#bg form {
    border: 2px solid #ccc;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    width: 500px;
}

#bg h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

#bg input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

#bg label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

#bg button {
    float: right;
    background: linear-gradient(to right, #cb7550, #76442e);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

#bg button:hover {
    opacity: .7;
}

#bg .error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 22%;
    border-radius: 5px;
    margin: 20px auto;
    position: absolute;
    margin-top: -2.5%;
}

#bg h1 {
    text-align: center;
    color: #fff;
}

#bg .container ul li {
    list-style: none;
    display: inline-block;
}
#bg .container a {
    color: black;
    
}

#bg .contain ul li:hover {
    opacity: .1;
}


#bg .container a[id="font"] {
    color: white;
    font-size: 18px;
}

.password-wrapper {
    position: relative;
  }
  
  .password-wrapper input[type="password"] {
    padding-right: 20px; /* Adjust this value to fit your design */
  }
  
  .password-wrapper .toggle-password {
    position: absolute;
    top: 30%;
    right: 26px; /* Adjust this value to fit your design */
    transform: translateY(-50%);
    cursor: pointer;
  }


@media (max-width: 600px) {
    #bg form {
      width: 80%;
    }
  }



 /*login design*/

